<!-- Modal -->
<div class="modal fade" id="help_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title page-title" id="exampleModalLabel">TS UNIQUE ID</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>How to get your unique ts identification:</p>
        <p>1:</p><%= image_tag "ts_id_00.png", class: "mb-5" %>
        <p>2:</p><%= image_tag "ts_id_01.png", class: "mb-5" %>
        <p>3:</p><%= image_tag "ts_id_02.png", class: "mb-5" %>
        <p>If you have an teamspeak account, your ID will be the same on every device.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>