<div class="registration-edit-container mb-4">
  <p class="page-title">Edit Your Account</p>

  <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <h3>Change My Avatar</h3>
    <div class="form-group file-field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Upload", class: "btn btn-primary" %>
    </div>

    <h3 class="mt-5">Make My Profile Private</h3>
    <div class="form-check mb-2">
      <%= f.check_box :private, class: "form-check-input" %>
      <%= f.label "Exclude me from any rankings and hide my POI from other users", class: "form-check-label" %><br />
    </div>

    <div class="form-group">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>

    <h3 class="mt-5">Change My Password</h3>
    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

  <hr/>
  <h3 class="mt-2">Cancel My Account</h3>

  <p>Unhappy? All your POI will be lost. <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger mb-1", data: { confirm: "Are you sure?" }, method: :delete %></p>
  <hr/>
  <%= link_to "Back", :back, class: "btn btn-secondary mt-3" %>
</div>