<div class="register-container">

  <!-- Info Panel -->
  <div class="register-info-container d-flex flex-column w-100 justify-content-center text-center">
    <%= link_to "#new_user" do %>
      <%= inline_svg_tag "svg/register.svg", size: "72px*72px", class: "align-self-center" %>
      <p class="p1">Join Now</p>
      <p class="p2">and get...</p>
      <p class="p3">NOTHING?</p>
      <p class="info-text">Registration is only available for members of the TeamSpeak SpaceDose.de community. Therefore, your unique     identification key is required to link your accounts.</p>
      <p class="info-text">Although I do my best to make this website as secure as possible, I advise you to never enter sensitive data here.</p>
      <p class="p3">Please choose a unique username and password.</p>
      <p class="info-text">An account on this website does not bring you anything special for the time being. At some point in the future, there will be a points system, where you can get 'POI' over time while you are active on the TeamSpeak server and spend it on a shop on this website for virtual goods.</p>
    <% end %>
  </div>

  <!-- Registration Form -->
  <div class="register-form-container d-flex flex-column flex-grow-1 align-items-center">  
    <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
      
      <p>Register a new Account!</p>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control", placeholder: "Enter Username" %>
      </div>

      <div class="form-group">
        <%= f.label :ts_identity, "TS Unique ID" %>

        <%= link_to "", data: {toggle: "modal", target: "#help_modal"} do %>
          <%= inline_svg_tag "svg/help.svg" %>
        <% end %>

        <%= f.text_field :ts_identity, class: "form-control", placeholder: "Enter UniqueID" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter Password Again" %>
      </div>
      
      <%= f.submit class: "btn btn-primary w-100", value: "REGISTER" %>
    <%end%>
  </div>
  
<%= render 'devise/registrations/help_modal' %>
</div>

<%= javascript_pack_tag 'smooth_scroll_animation' %>