<% if resource.errors.any? %>
  <div id="error_explanation" class="border border-warning my-2 p-2">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
