<%= form_with model: @article, local: true, class: "news-new-form w-100 mb-5" do |f| %>
  <p class="page-title">Edit the New Article</p>

  <div class="form-group">  
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :article %>
    <%= f.rich_text_area :content, class: "form-control" %>
  </div>

  <div class="form-group file-field">
    <%= f.label "Cover Picture" %>
    <%= f.file_field :cover, class: "form-control" %>
  </div>
  
  <%= f.submit class: "btn btn-primary" %>
  <%= link_to 'Back', article_path, class: "btn btn-secondary" %>
  
<% end %>