<div class="news-news-container flex-grow-1">
    
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <p class="page-title">NEWS</p>
            
            <% if user_signed_in? && current_user.admin? %>
                <%= link_to new_article_path, class: "btn btn-add-news shadow-none" do %>
                    <%= inline_svg_tag "svg/add.svg", class: "mb-2" %>
                <% end %>
            <% end %> 
        </div>

        <%= button_tag type: "button", class: "btn-tsviewer btn btn-sm btn-outline-light d-block d-sm-block d-md-none" do %>
            <%= link_to "TSVIEWER", tsviewer_path %>
        <% end %>
    </div>

    <% for article in @articles %>
    
        <!-- Article Card -->
        <%= link_to article_path(article), class: "article-card card border-0 rounded-0 shadow" do %>
           
            <% if article.cover.attached? %>
                <%= image_tag url_for(article.cover), class: "card-img-top rounded-0" %>
            <% end %>

            <div class="card-body d-flex align-items-center">
                <p class="article-title"><%=h article.title %></p>
                <p class="article-date ml-auto d-none d-sm-block d-md-none d-lg-block"><%= l article.created_at.to_date, format: :long %></p>
            </div>   
        
        <% end %>
    <% end %>
    <div class="d-flex justify-content-center">
        <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
    </div>
</div>

<div id="ts3viewer_1086593" class="news-tsViewer-container d-none d-sm-none d-md-block shadow"></div>
<script src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>
<%= javascript_pack_tag 'tsViewer' %>