<% content_for :meta_title, @article.title %>

<div class="news-show-container d-flex flex-column w-100">

    <% if user_signed_in? && current_user.admin? %>
        <div class="toolbar-admin-article d-flex justify-content-end w-100">
                <%= link_to edit_article_path, class: "btn-edit-article" do %>
                    <% inline_svg_tag "svg/edit.svg" %>
                <% end %>
    
                <%= link_to article_path(@article),
                  class: "btn-edit-article",
                  method: :delete,
                  data: { confirm: 'Are you sure?' } do %>
                    <% inline_svg_tag "svg/delete.svg" %>
                <% end %>
        </div>
    <% end %>

    <% if @article.cover.attached? %>
        <%= image_tag url_for(@article.cover), class: "cover" %>
        <% content_for :meta_image, url_for(@article.cover) %>
    <% end %>

    <%= content_tag :p, @article.created_at.strftime("%A %d.%m.%Y - %H:%M %p"), class: " mt-2" %>
    
    <div class="news-show-content">    
        <%= content_tag :p, @article.title, class: "article-title" %>
        <p class="article-content"><%= @article.content %></p>
    </div>
    
    <%= content_tag :p, "Author: #{@author}", class: "ml-auto mt-5 mb-5" %>    
</div>

<%= javascript_pack_tag 'link_blank' %>