<p class="ranking-title"><%= title %></p>

<div class="trophies d-flex overflow-auto justify-content-between">    
    <%= link_to user_path(table.first.id) , class: "mx-5 mt-0 text-center d-flex flex-column align-items-center" do %>
        <%= inline_svg_tag "svg/cups/#{ image }.svg", class: "trophie-icon place-0" %>
        
        <div class="profile-picture">
            <% if table.first.avatar.attached? %>
                <%= image_tag url_for(table.first.avatar) %>
            <% else %>
                <%= image_tag "default_profile_pics/default-profile-pic.png", class: "profile-picture" %>
            <% end %>
        </div>
        
        <p class="trophie-title mb-3">
            <%= table.first.username %>
        </p>         
    <% end %>
    
    <%= link_to user_path(table.second.id), class: "mx-5 mt-3 text-center d-flex flex-column align-items-center" do %>
        <%= inline_svg_tag "svg/cups/#{ image }.svg", class: "trophie-icon place-1" %>
        
        <div class="profile-picture">
            <% if table.second.avatar.attached? %>
                <%= image_tag url_for(table.second.avatar) %>
            <% else %>
                <%= image_tag "default_profile_pics/default-profile-pic.png", class: "profile-picture" %>
            <% end %>
        </div>
        <p class="trophie-title mb-3">
            <%= table.second.username %>
        </p>
    <% end %>
 
    <%= link_to user_path(table.third.id), class: "mx-5 mt-4 text-center d-flex flex-column align-items-center" do %>
        <%= inline_svg_tag "svg/cups/#{ image }.svg", class: "trophie-icon place-2" %>
            
        <div class="profile-picture">
            <% if table.third.avatar.attached? %>
                <%= image_tag url_for(table.third.avatar) %>
            <% else %>
                <%= image_tag "default_profile_pics/default-profile-pic.png", class: "profile-picture" %>
            <% end %>
        </div>
   
        <p class="trophie-title mb-3">
            <%= table.third.username %>
        </p>
    <% end %>
</div>

<div class="trophies-forth d-inline-block mt-4 mb-5">
    <% table[3..-1].each_with_index do |user, index| %>
        <div class="d-inline-block mx-2 pb-3">
            <%= index + 4 %>.
            
            <%= link_to user_path(user.id), class: "profile-picture", data: { toggle: "popover", placement: "top", trigger: "hover", content: user.username} do %>
                <% if user.avatar.attached? %>
                    <%= image_tag url_for(user.avatar) %>
                <% else %>  
                    <%= image_tag "default_profile_pics/default-profile-pic.png", class: "profile-picture" %>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
<hr class="mb-4"/>