<!-- Modal -->
<div class="modal fade" id="iconModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <p class="modal-title page-title">Change Your Icons</p>
               
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <p>Select up to <b><%= @slots.length %></b> Icons:</p>

                <%= form_with url: change_slot_path, method: "post", id: "form-icon" do |f| %>
                    <% @unlockedIcons.each do |icon| %>
                        <div class="mb-2">
                            <%= image_tag "items/#{icon.name}.png", class: "mr-2" %>
                            <%= f.check_box :new_icon_id, {multiple: true}, icon.value, nil %>
                        </div>
                    <% end %>
                <% end %>
            </div>

            <div class="modal-footer">
                <%= button_tag "Save", type: "submit", form: "form-icon", class: "btn btn-primary" %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>