<% if table.include?(@user) %>
    <div class="mx-4">
        <% @nothing = false %>
        <%= inline_svg_tag "svg/cups/#{ image }.svg", class: "trophie-icon place-#{table.index(@user)}" %>
        <p class="trophie-title"><%= title %></p>
    </div>
<% end %>