<div class="table-users w-100 h-100">
    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">TS Unique ID</th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody>
            <% for user in @users %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= link_to user.username, user_path(user.id) %></td>
                    <td><%= user.ts_identity %></td>
                    <td>
                        <%= link_to admin_destroy_user_path(user.id), method: :delete, data: { confirm: "You sure?" }, class: "btn-delete-user" do %>
                            <% inline_svg_tag "svg/delete.svg" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>