<div class="rankings-container d-flex flex-column w-100">
    <p class="page-title">RANKINGS</p>
    
    <%= render 'users/ranking_table', :table => @poi, :title => "Richest User", :image => "poi" %>
    <%= render 'users/ranking_table', :table => @poi_total, :title => "Most Time Wasted", :image => "poi_total" %>
</div>

<%= javascript_pack_tag 'rankings_positions' %>