<div class="user-show-container container">
    <div class="profile-header mb-4 shadow">
        
        <% if @user.avatar.attached? %>
            <%= image_tag url_for(@user.avatar), class: "profile-picture" %>
        <% else %>
            <%= image_tag "default_profile_pics/default-profile-pic.png", class: "profile-picture" %>
        <% end %>

        <div class="container profile-content w-100 t-100">
            <div class="d-flex w-100">
                <%= content_tag :p, @user.username, class: "p-username mb-0 mr-3" %>
   
                <!-- IconSlots -->
                <% @iconNames.each do |item| %>
                    <div class="btn-link btn-icon-slot align-self-center mr-1">
                            <%= image_tag "items/#{item}.png" %>
                    </div>
                <% end %>

                <!-- Edit User -->
                <% if (current_user == @user) %> 
                    <div class="d-flex ml-auto">
                        <%= link_to icon_slot_path, class: "btn-edit-profile mr-2", remote: true do %>
                            <% inline_svg_tag "svg/change_icon.svg" %>
                        <% end %>
                        <%= link_to edit_user_registration_path, class: "btn-edit-profile mr-2" do %>
                            <% inline_svg_tag "svg/edit.svg" %>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <p class="p-created-at">Member since <%= l @user.created_at.to_date, format: :long %></p>
            <% unless (current_user != @user) && @user.private %>
                <p class="p-poi mb-0">POI: <%= @user.POI %></p>
                <p class="p-poi mb-0">XP: <%= @user.POI_total %></p>
            <% else %>    
                <p class="mb-0 font-italic">profile is private</p>
            <% end %>    
        </div>
    </div>

    <% unless (current_user != @user) && @user.private %>

        <div class="profile-rankings mb-4 pb-1 shadow text-center">
            <div class="separator pt-1"><p class="page-title">Rankings</p></div>

            <div class="trophies d-flex overflow-auto">
                <%= render 'users/trophie', :table => @poi, :title => "Richest User", :image => "poi" %>
                <%= render 'users/trophie', :table => @poi_total, :title => "Most Time Wasted", :image => "poi_total" %>

                <% if @nothing %>
                    <% if (current_user == @user) %>              
                        <% if @user.private %> 
                            <p>Your profile is private. You can change your privacy settings <%= link_to "here", edit_user_registration_path %>.</p>
                        <% else %>             
                            <p>You currently have no trophies.</p>
                        <% end %>
                    <% else %>
                        <p>The user currently has no trophies.</p>
                    <% end %>
                <% end %>
            </div>
        </div>

    <% end %>

    <div id="iconModalDiv">
    </div>
</div>