<!DOCTYPE html>
<html>
  <head>
    <title>SpaceDose</title>

    <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="fade"></div>
    <%= javascript_pack_tag 'wip' %>
  </body>
</html>
