<div class="stream-background">
    <div class='container'>
        <div class="row align-items-center">
            <div class="col">
                <!-- Stream -->
                <iframe
                    style="margin-top:25px;
                            margin-bottom:25px;
                            border-style:solid;
                            border-width:2px;"
                    src="https://player.twitch.tv/?channel=seranuelian"
                    frameborder="0"
                    allowfullscreen="true"
                    scrolling="no"
                    height="378"
                    width="620">
                </iframe>
            </div>
            <div class="col-auto">
                <img src="/images/dktanknowlive.png" width="50%" height="50%" />
                <!-- Chat
                    <iframe src="https://www.twitch.tv/seranuelian/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"></iframe>
                -->
            </div>
        </div>
    </div>
</div>
