<div class="stream-background">
    <div class='container'>
        <div class="row align-items-center">
            <div class="col">
                <!-- Stream -->
                <iframe style="margin-top:25px; margin-bottom:25px; border-style:solid; border-width:2px;"
                    src="https://player.twitch.tv/?channel=seranuelian"
                    frameborder="0"
                    allowfullscreen="true"
                    scrolling="no"
                    height="378"
                    width="620">
                </iframe>
            </div>
            <div class="col-auto">
                <img src="/images/dktanknowlive.png" width="50%" height="50%" />
                <!-- Chat
                    <iframe src="https://www.twitch.tv/seranuelian/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"></iframe>
                -->
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:50px;">
  <h1>Welcome to SpaceDose.de</h1>
  <h2 style="margin-left:20px">an Online Community for playing:</h2>
  <div style="margin-left:50px">
    </br></br></br></br>
    <h2>Counter Strike</h2>
    </br></br></br></br>
    <h2>World of Warcraft</h2>
    </br></br></br></br>
    <h2>Player Unknown's Battleground</h2>
    </br></br></br></br>
    <h2>Rocket League</h2>
    </br></br></br></br>
    <h2>Dota 2</h2>
    </br></br></br></br>
    <h2>League of Legends</h2>
    </br></br></br></br>
    <h2>Fortnite</h2>
    <p style="margin-left:20px">I don't know what to say.</p>
  </div>
</div>
