<div class="container" style="margin-bottom: 300px">

  <h1>SpaceDose.de User Convention</h1>

  <p style="font-size: 20px">
    Daniel (UserName: Daniel) hat sich bereit erklärt unserer Community für
    unbestimmte Zeit Eintritt in seine Wohnung zu gewähren, weshalb nun endlich
    ein Treffen der User, wenn auch vorerst NICHT als LAN-Party gedacht,
    möglich ist. Endlich hat Dose&Army also die Möglichkeit sich über der
    Telefonleitung hinaus kennen zu lernen und jeder kann jedem dem er es so
    richtig gönnt, einmal kräftig ins Gesicht spucken. Die Party ist ab 12 Jahren
    freigegeben, es gibt nur veganes Essen, für die vegetarier aber ganz ganz
    zartes Fleisch, alkohol ist (natürlich) tabu, um 22 Uhr herrscht Nachtruhe
    und böse Wörter werden erst ab 20 Uhr geduldet. Es wird klassische Musik von
    zeitlosen Legenden wie unter anderen Johann Sebastian Bach, Wolfgang Amadeus
    Mozart und Ludwig van Beethoven aufgelegt.

  </br></br>
    Nun zu den wichtigen Dingen:
  </p>
  </br></br>

  <h2>Darf ich bei euch mitmachen?</h2>
  <p> Du bist 12 Jahre alt und regelmäßig auf dem spacedose.de TeamSpeak? </p>
  <p> Komm vorbei.</p>
  </br></br></br>

  <h2>Wo wird das ganze statt finden?</h2>
  <p> Das ganze Grauen wird bei Daniel zuhause stattfinden. Die genaue Adresse
    wird noch bekanntgegeben (über die WhatsApp Gruppe s.u.), seine Wohnung befindet sich jedoch Quasi an der
    Leibniz Universität Hannover:
  </p>
  </br>
    <div class="row justify-content-md-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2047.8682120118633!2d9.719027907860832!3d52.38239650998556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b0749940151ee7%3A0xea4127dec2606bee!2sLeibniz+Universit%C3%A4t+Hannover!5e0!3m2!1sde!2sde!4v1523568171048" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </br>
  <p>
    Sollte es sich für jemanden nicht realisieren lassen Hannover zu erreichen,
    meldet euch im Ts, bei WhatsApp oder per Fax bei mir und wir regeln das irgendwie.
  </p>
  </br></br></br>

  <h2>Wann wird jetzt Daniels Wohnung zerstört?</h2>
  <p>Da es hier sogar Menschen gibt die außerhalb der Welt der Kriegskunst
    Termiene haben, ist hier mal ein absolut unüberschaubarer Doodle Kalender.
    Da es sehr viele mögliche Termine gibt bitte ich euch nur "Wunschtage" zu
    bestätigen und Tage an denen Ihr wirklich garnicht könnt mit
    "Ja, gegebenenfalls" zu markieren.
  </p>
  </br></br>
  <div class="row justify-content-around">
    <div class="col-4">
      <a target="_blank" href="https://doodle.com/poll/kbnfppetry99tc3w"><img class="custom-button" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Doodle_Logo.svg/2000px-Doodle_Logo.svg.png" width="100%"></a>
    </div>
  </div>
  </br></br></br>

  <h2>Hab ich jetzt eigendlich Bock?</h2>
  <p>Solltest du interessiert sein, bei dem Gelage dabei zu sein, dann tritt der
    WhatsApp Gruppe bei welche du über den unten stehenden Link erreichst
    (Click on image or scan the QR-Code). <b>JEDER IST ERWÜNSCHT!</b>
  </p>
  </br></br>
  <div class="row justify-content-around">
    <div class="col-4">
      <a target="_blank" href="https://chat.whatsapp.com/Cjm3q7bCh73A0Kpv9HOXjy"><img class="custom-button" src="/images/groupjoin.png" width="70%"></a>
    </div>
    <div class="col-4">
      <img src="/images/qr-code.png" width="70%">
    </div>
  </div>
</div>
