<div class="container">
<h1>FAQ</h1>
</br>
<h2>Q: Why is Media lagging so much?</h2>
<p>A: This is a small indie comp..</p>
</br>
</br>
</br>
<div class="row justify-content-md-center">

    <img src="https://i.imgur.com/9aRERPH.gif">

</div>
</div>
