<div class="login-form">
    <%= form_for(:user, :url => session_path(:user), class: "login-form-mobile") do |f| %>
        <p class="mb-3">Sign In:</p>
        <div class="form-group">
            <%= label_tag :username %>
            <%= f.text_field :username, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= label_tag :password %>
            <%= f.password_field :password, class: "form-control"  %>
        </div>

        <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        </div>

        <%= f.submit 'SIGN IN', class: "btn btn-primary w-100" %>
        <div class="separator">or</div>
        <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-secondary w-100" %>
    <% end %>
</div>