<!-- Modal -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title page-title"><%= @item.name %> <%= @item.type %></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <%= @item.description %>
            </div>
        
            <div class="modal-footer">
                <%= link_to "Use", use_path(:item_id => @item.id), method: :post, class: "btn btn-primary" %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>