<div class="items-inventory-container w-100 mb-5"> 
    <div class="d-flex justify-content-between">
        <p class="page-title">INVENTORY</p>
    </div>

    <% if @items.empty? then %>
        <p class="h5">You don't have any items yet. Go to the <%= link_to "Store", store_path %> and buy something!</p>
    <% end %>
    
    <div class="row">
        <% for item in @items.reverse do %>
            <div class="item-card col-lg-4 p-2">
                <%= link_to inventory_item_path(item_id: item.id), :class => "remove-link", remote: true do %>
                    <div class="d-flex flex-column align-items-center w-100 h-100 shadow">
                        <p class="item-title mt-2 mb-2"><%= item.type %></p>
                        <%= image_tag "items/#{item.name}.png" %>
                        <p class="item-title mt-1"><%= item.name %></p>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <div id="itemModalDiv">
    </div>
</div>