<div class="items-inventory-container w-100 mb-5"> 
    <div class="d-flex justify-content-between">
        <p class="page-title">STORE</p>
        <p class="page-title" style="font-style: normal">POI: <%= current_user.POI %></p>
    </div>

    <% if @items.empty? then %>
        <p class="h5">There is currently nothing for you to buy. Come back later.</p>
    <% end %>

    <div class="row">
        <% for item in @items do %>
            <div class="item-card col-lg-4 p-2">
                <%= link_to store_item_path(item_id: item.id), :class => "remove-link", remote: true do %>
                    <div class="d-flex flex-column align-items-center w-100 h-100 shadow">
                        <p class="item-title mt-2 mb-2"><%= item.type %></p>
                        <%= image_tag "items/#{item.name}.png" %>
                        <p class="item-title mt-1"><%= item.name %> (<%= item.price %>p)</p>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="row mt-5">
        <% for item in @alreadyBought do %>
            <div class="item-card sold col-lg-4 p-2">
                <div class="d-flex flex-column align-items-center w-100 h-100 shadow">
                    <p class="item-title mt-2 mb-2"><%= item.type %></p>
                    <%= image_tag "items/#{item.name}.png" %>
                    <p class="item-title mt-1"><%= item.name %> (<%= item.price %>p)</p>
                    <%= image_tag "sold.png", class:"img-sold pb-4" %>
                </div>
            </div>
        <% end %>
    </div>

    <div id="itemModalDiv">
    </div>
</div>