/* Colors */
$grey-darker-color: #181818;
$grey-dark-color: #272727;
$grey-mid-color: #303030;
$grey-light-color: #454545;
$grey-lighter-color: #757575;

$white-color: #fff;

$orange-color: #FF652F;
$yellow-color: #FFE400;
$green-color: #14A76C; 

/* Fonts */
@font-face {
    font-family: 'Ubuntu';
    src: font-url('Ubuntu-Regular.ttf')
}

@font-face {
    font-family: 'Ubuntu';
    src: font-url('Ubuntu-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Ubuntu';
    src: font-url('Ubuntu-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: font-url('Ubuntu-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}