/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub welcome
 */

 @import "./actiontext.scss";
 @import "globals";
 @import "bootstrap/scss/bootstrap";

html, body {
    background-color: $grey-dark-color;
    color: $white-color;
    font-family: "Ubuntu";
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

hr {
    border-top: 1px solid $grey-light-color;
    margin: 0;
}

.navbar {
    padding-left: 0px;
    padding-right: 0px;
    
    .navbar-brand {

        .brand-icon {
            width: 72px;
            height: auto;

            @media (max-width: 576px) { 
                width:42px;
            }
        }

        .orange {
            fill: $orange-color;
        }
        .green {
            fill: $green-color;
        }
        .yellow {
            fill: $yellow-color;
        }

        p {
            font-size: 30px;
            font-family: "Ubuntu";
            font-weight: bold;
            margin-bottom: 0px;
            
            @media (max-width: 576px) { 
                font-size: 18px;
            }
        }
    }
      
    .navbar-nav {
        
        .nav-item {
            align-self: center;
            
            .nav-link {
                font-size: 18px;
                font-weight: bold;
            }
        }

        .profile-picture .link-disable {
            pointer-events: none !important;
        }

        .profile-picture a {
            position: relative;
            display: inline-block;

            &:focus {
                outline: none;
            }

            svg {
                position: absolute;
                overflow: visible;
                top: 0;
                left: 0;
            }
            
            .profile-picture-border.offline {
                fill: $grey-light-color;
            }
            .profile-picture-border.online {
                fill: $green-color;
            }

            .profile-picture-sign-in {
                fill: $orange-color;
            }
            
            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                -webkit-mask-image: url(asset_path("svg/profile_picture_mask.svg"));
                mask-image: url(asset_path("svg/profile_picture_mask.svg"));
            }  
        }
        
        .dropdown-menu {
            background-color: $grey-darker-color;
            border: none;
            margin-right: -1px;
            margin-top: 19px;
            
            .navbar-profile {
                padding: 0;
                margin-top: -8px;
                margin-bottom: -8px;
            }
        }
    }
}

.content {
    background-color: $grey-mid-color;

    padding-top: 24px;
    padding-left: 48px;
    padding-right: 48px;

    @media (max-width: 576px) { 
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .page-title {
        font-size: 26px;
        font-weight: bold;
        font-style: italic;
    }
}

.footer {
    background-color: $grey-darker-color;
    height: 48px;

    div svg {
        fill: $grey-lighter-color;
    }
}

.separator {
    margin: 0.5em;
    display: flex;
    align-items: center;
    text-align: center;
    
    p { 
        margin-bottom: 0;
    }
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-top: 1px solid $grey-lighter-color;
}
.separator::before {
    margin-right: .5em;
}
.separator::after {
    margin-left: .5em;
}

.remove-link {
    color: inherit;
    
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.modal-content {
    background-color: $grey-light-color;

    span {
        color: $white-color;
    }

    img {
        width: 100%;
    }
}