/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "shop.scss";

:root {
  // ORANGE
  //--light-bg-color: #FFFBE4B3;
  //--bg-color:  #D59722CC;

  // GREEN
  //--light-bg-color: #DEFFD8AA;
  //--bg-color:  #397F2D;
  //--btn-color: #2B6122;

  // who needs colours
  --light-bg-color: #313A35;  // BODY
  --bg-color:  #C93B21;// NAVBAR
  --bg-color-dark: #992D19;
  --btn-color: #C49662;
  --font-color: #E6D9C9;
}

.dropdown-menu {
  background-color: var(--light-bg-color);
  padding-left: 10px;
}

.btn-outline-danger, {
  color: var(--bg-color);
  border-color: var(--bg-color);

  &:hover {
    background-color: var(--bg-color);
      border-color: var(--bg-color);
  }
}

.btn-danger {
  background-color: var(--bg-color);

  &:hover {
    background-color: var(--bg-color-dark);
      border-color: var(--bg-color-dark);
  }
}

.bg-light {
    background-color: var(--bg-color) !important;
}

body {
    background-color: var(--light-bg-color);
    margin-bottom: 200px;

}

.navbar {
}

.stream-background {
    margin-top: -25px;
    background-color: black;
}

.navbar-light .navbar-brand {
  color: white;
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  padding: 0;
  margin: -10px 0 -10px -10px;

  &:hover {
    color: white;
  }
}

#navbarDropdown {
    border-left: 1px solid #FFFFFF;
    margin-left: 10px;
    padding-left: 18px;
    color: white;

    &:hover {
      color: #E6D9C9;
    }
  }

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;

  &:hover {
    color: #E6D9C9;
  }
}

.btn-logout, .btn-login {
  color: white;
  background-color: var(--btn-color);
  border-radius: 0rem;

  &:hover {
    color: var(--bg-color);
    background-color: white;
  }
}

// Media
.thumbnail {
	//display: inline-block;
	//float: left;
	margin: 2px;
	height: 120px;
	width: 120px;
	padding: 1px;
	border: 0px;
	border-radius: 0px;
    margin: 1px;
	object-fit: cover;

	&:hover {
	    box-shadow: 0 0 4px 2px var(--bg-color);
	}
}

#images {
  min-width: 496px;
}

h1, h2, h3, h4, h5, h6, p, a.nav-link {
  color: var(--font-color);
  font-family: 'Fjalla One', sans-serif;
}

a.nav-link {
  font-size: 120%;
}

a.btn {
  font-family: 'Fjalla One', sans-serif;
  //font-size: 120%;
}

p {
  font-size: 18px;
}

.custom-button {
  &:hover {
	    box-shadow: 0 0 4px 2px var(--bg-color);
	}
}
