// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "globals";
@import "bootstrap/scss/bootstrap";

$articleCardHeight: 200px;

.news-news-container {
    overflow: hidden;
    padding-right: 4px;
    padding-left: 4px;

    .btn-add-news {
        
        svg {
            fill: $white-color; 
            background-color: $grey-lighter-color;
            border-radius: 50%;
        }
    }

    .btn-tsviewer {
        margin-bottom: 16px;
        a {
            color: $white-color;
            text-decoration: none;
    
            &:hover {
                color: $white-color;
                text-decoration: none;
            }
        }
    }

    .article-card {

        color: $white-color;
        text-decoration: none;

        &:hover {
            color: $white-color;
            text-decoration: none;
            box-shadow: 4px 4px $grey-darker-color !important;
        }

        background-color: $grey-light-color;
        height: $articleCardHeight;
        margin-bottom: 28px;

        .card-img-top {
            height: calc(#{ $articleCardHeight } - 48px);
            object-fit: cover;
        }

        .card-body {
            padding-top: 0;
            padding-bottom: 0;
            
            p {
                margin-bottom: 0;
            }

            .article-title {
                font-size: 18px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }

            .article-date {
                white-space: nowrap;
                padding-left: 48px;
            }
        }
    }
}

.news-tsViewer-container {
    margin-left: 48px;
    min-width: 340px;
    background-color: $grey-light-color;
    padding: 18px;
    padding-right: 24px;
    border-radius: 8px 8px 0 0; 

    #ts3v_1086593 .tsv_user {
        pointer-events: none;
    }
}

.news-show-container {
    position: relative;

    .toolbar-admin-article {
        position: absolute;
        
        left: 0px;
        top: 0px;
        opacity: 50%;

        $btn-size: 2.5em;

        .btn-edit-article {
            
            margin-left: 0.2em;
            
            svg {
                
                fill: $white-color; 
                background-color: $grey-lighter-color;
                border-radius: 20%;
                width: $btn-size;
                height: $btn-size;
                padding: 0.5em;
                
                &:hover {
                    background-color: $grey-light-color;
                }
            }
        }
        
        &:hover {
            opacity: 100%;
        }
    }

    .cover {
        max-height: 400px;
        width: 100%;
        object-fit: scale-down;
        @media (min-width: 577px) { 
            width: auto;
            margin-top: -24px;
            margin-left: -48px;
            margin-right: -48px;
            object-fit: cover;
        }
    }

    .news-show-content {
     
        .article-title {
            font-size: 32px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .trix-content {
            text-align: justify;
            text-justify: inter-word;
            overflow: hidden;
        }
    }
}

.news-new-form {

    trix-editor {
        min-height: 300px;
    }

    .trix-button-group {
        background-color: $white-color;
    }

    .file-field {
        input {
            height: 100%;
        }
    }

    .btn-primary {
        $btn-color: $orange-color;
        @include button-variant($btn-color, darken($btn-color, 7.5%), darken($btn-color, 10%), lighten($btn-color,5%), lighten($btn-color, 10%), darken($btn-color,30%));
        border:none;
    }
}