// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "globals";

.items-inventory-container {

    .row {
        margin: -8px; 
    }

    .item-card {
        height: 200px;
        
        div {
            background-color: $grey-light-color;
            border: 1px solid $grey-light-color;

            .item-title {
                font-size: 22px;
                font-weight: bold;
            }

            img {
                object-fit: contain;
                overflow: hidden;
            }
          
            &:hover {
                border: 1px solid $grey-lighter-color;
                box-shadow: 4px 4px 4px $grey-darker-color !important;
            }
        }
    }

    .sold {
        div {
            position: relative;
            pointer-events: none;
            opacity: 70%;

            .img-sold {
                position: absolute;
                filter: grayscale(30%);
                opacity: 50%;
                width: 150px;
                height: 150px;
                top: 50%;
                margin-top: -65px;
                left: 50%;
                margin-left: -75px;
            }
        }
    }  
}