@import "globals";

.page-item {
    .page-link {
        background-color: $grey-dark-color;
        color: $grey-lighter-color;
        border: none;
    }
}

.page-item.active .page-link {
    background-color: $grey-light-color !important;
}

.page-item.disabled .page-link {
    background-color: $grey-light-color !important;
}