// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "globals";
@import "bootstrap/scss/bootstrap";

.login-form {
    padding: 0 1em 1em 1em;
    width: 100%;
    min-width: 20em !important;

    p {
        color: $white-color;
        font-weight: bold;
        margin: 0;
        white-space: nowrap;
    }

    label {
        color: $white-color;
    }

    .form-group-prepend {
        display: none;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-check {
        padding-left: 8px;
        white-space: nowrap;
    }

    .separator {
        color: $grey-lighter-color;
    }

    .btn-primary {
        margin-top: 24px;
        $btn-color: $orange-color;
        @include button-variant($btn-color, darken($btn-color, 7.5%), darken($btn-color, 10%), lighten($btn-color,5%), lighten($btn-color, 10%), darken($btn-color,30%));
        border:none;
    }

    .btn-secondary {
        $btn-color: $grey-light-color;
        @include button-variant($btn-color, darken($btn-color, 7.5%), darken($btn-color, 10%), lighten($btn-color,5%), lighten($btn-color, 10%), darken($btn-color,30%));
        border:none;
    }
}

// Mobile
@media screen and (max-width: 991px) {
    .nav-item.profile-picture {
        width: 100% !important;
        
        .dropdown-menu.dropdown-menu-right {            
            background-color: $grey-dark-color;
            border: none;
        }
    }
}