// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "globals";
@import "bootstrap/scss/bootstrap";

.register-container {
    display: flex;
    @media (max-width: 768px) {
        flex-direction: column;
    }

    .register-info-container {
        margin-bottom: 48px;

        @media (min-width: 768px) {
            padding-right: 48px;
        }

        a, a:hover {
            color: inherit;
            text-decoration: none !important;

            @media (min-width: 768px) {
                pointer-events: none;
            }
        }

        svg {
            fill: $white-color;
            min-height: 72px;
        }

        p {
            font-weight: bold;
        }
        .p1 {
            font-size: 34px;
        }
        .p2 {
            font-size: 16px;
        }
        .p3 {
            font-size: 20px;
        }

        .info-text {
            font-weight: normal;
            text-align: justify;
            text-justify: inter-word;
        }
    }

    .register-form-container {

        p {
            font-size: 24px;

            @media (min-width: 768px) {
                white-space: nowrap;
            }
        }

        .new_user {
            padding: 24px;
            height: 100%;
            width: 100%;
            background-color: $grey-light-color;

            .form-group {
                margin-bottom: 20px;
            }

            svg {
                margin-bottom: 8px;
                fill: #17a2b8;
            }

            .btn-primary {
                $btn-color: $orange-color;
                @include button-variant($btn-color, darken($btn-color, 7.5%), darken($btn-color, 10%), lighten($btn-color,5%), lighten($btn-color, 10%), darken($btn-color,30%));
                border:none;
            }
        }
    }
}

.registration-edit-container {
    
    .file-field {
        input {
            height: 100%;
        }
    }
}

.table-users {

    .table {
        color: $white-color;

        a {
            color: inherit;
        }

        .btn-delete-user {
            
            $btn-size: 2.5em;

            svg {
                
                fill: $white-color;
                background-color: $grey-lighter-color;
                border-radius: 20%;
                width: $btn-size;
                height: $btn-size;
                padding: 0.5em;
                
                &:hover {
                    background-color: $grey-light-color;
                }
            }
        }
    }
}

.user-show-container {

    .profile-header {
        $profile-header-height: 208px;
        $profile-picture-size: 238px;
        
        display: flex;
        margin-top: calc(#{$profile-picture-size} - #{$profile-header-height}  + 18px);
        height: $profile-header-height;
        background-color: $grey-light-color;
        
        @media (max-width: 768px) {
            flex-direction: column;
            height: auto;
        }

        .profile-picture {
            margin-top: calc(#{$profile-header-height} - #{$profile-picture-size} - 18px);
            margin-left: 18px;
            min-width: $profile-picture-size;
            max-width: $profile-picture-size;
            min-height: $profile-picture-size;
            max-height: $profile-picture-size;
            border: solid 3px $green-color;
            object-fit: cover;
            box-sizing: border-box;
            background-color: $grey-dark-color;

            @media (max-width: 768px) {
                margin-top: 18px; 
                margin-left: 0;
                align-self: center;
            }
        }

        .profile-content {
            padding-top: 18px;
            padding-bottom: 18px;
            
            @media (min-width: 769px) {
                margin-left: 18px;
            }   

            .btn-icon-slot {
                height: 28px;
                width: 28px;
                
                img {
                    height: auto;
                    width: 100%;
                }
            }

            .btn-edit-profile {
                fill: $white-color; 
            }

            .p-username {
                font-size: 32px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .p-created-at {
                font-style: italic;
            }

            .p-poi {
                font-size: 26px;
                font-weight: bold;
            }
        }
    }

    .profile-rankings {
        background-color: $grey-light-color;
    }
}

#iconModal {
    
    img {
        width: 28px !important;
        height: 28px;
    }
}

.rankings-container {

    a, a:hover {
        color: inherit;
    }

    .ranking-title {
        font-size: 72px;
        font-weight: bold;
        color: $grey-lighter-color;
        
        @media (max-width: 991px) {
            font-size: 32px;
        }
    }

    .trophies {
        visibility: hidden;

        @media (max-width: 991px) {
            flex-direction: column;
            margin-top: 0;
        }
    }

    .trophies-forth {
        color: $grey-lighter-color;
    }
    
    .profile-picture {
        position: relative;
        display: inline-block;

        svg {
            position: absolute;
            overflow: visible;
            top: 0;
            left: 0;
        }

        img {
            width: 48px;
            height: 48px;
            object-fit: cover;
            -webkit-mask-image: url(asset_path("svg/profile_picture_mask.svg"));
            mask-image: url(asset_path("svg/profile_picture_mask.svg"));
            -webkit-mask-size: cover;
            mask-size: cover;
        }  
    }
}

// center trophies
.trophies::before, .trophies::after {
    content: '';
    margin: auto;
}
.trophie-title {
    font-size: 22px;
    font-style: italic;
}
.trophie-icon {
    width: 148px;
    height: auto;
}

.place-0 {
	.st0{fill:#F9BC43;}
	.st1{fill:#E89C18;}
	.st2{fill:#7A6E62;}
	.st3{fill:#66594E;}
}
.place-1 {
	.st0{fill:#DEDEDE;}
	.st1{fill:#BFBFBF;}
	.st2{fill:#7A6E62;}
	.st3{fill:#66594E;}
}
.place-2 {
	.st0{fill:#745F47;}
	.st1{fill:#615137;}
	.st2{fill:#7A6E62;}
	.st3{fill:#66594E;}
}