// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "globals";

html, body {
    margin: 0;
    overflow: hidden;
    background-color: $grey-dark-color;
}

canvas {
    position: absolute;
    width: 100%;
    background-color: #272727;
    z-index: -1;
}

#fade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}