<nav class="navbar navbar-profile navbar-expand-lg navbar-dark d-flex justify-content-center">
    <ul class="navbar-nav w-100 justify-content-center flex-column">
    
        <li class="nav-item active">
            <%= link_to "PROFILE", user_path(current_user.id), class: "nav-link", method: "get" %>   
        </li>

        <li class="nav-item active">
            <%= link_to "INVENTORY", inventory_path, class: "nav-link", method: "get" %>   
        </li>
        
        <% if current_user.admin %>
            <li class="nav-item active">
                <%= link_to "USERS", users_path, class: "nav-link", method: "get" %>   
            </li>
        <% end %>

        <li class="nav-item active">
            <%= link_to "LOGOUT", destroy_user_session_path, class: "nav-link", method: "delete" %>   
        </li>
    </ul>
</nav>